<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Development</key>
	<dict>
		<key>name</key>
		<string>Development</string>
		<key>APIEndpointURL</key>
		<string>https://staging.api.browzzin.com/v1</string>
		<key>AdobeSDKAPIKey</key>
		<string>29cb3a6c059746dea4523637e485dfca</string>
		<key>AdobeSDKClientSecret</key>
		<string>1c0f4940-e1bc-42cb-8883-f19865be44f0</string>
		<key>InstagramAPIKey</key>
		<string>be42805f0b644f9cad3f01b78999ba6d</string>
		<key>InstagramClientSecret</key>
		<string>654b9ab7f5b44f8ea8b1420e73d26713</string>
		<key>InstagramRedirectURI</key>
		<string>http://www.browzzin.com/</string>
		<key>AmazonSNSARN</key>
		<string>arn:aws:sns:eu-west-1:845514898856:app/APNS_SANDBOX/BrowzzinConsumerIosDev</string>
		<key>AmazonCognitoIdentity</key>
		<string>eu-west-1:7a01b24e-3a9b-4197-9899-aea4e2404ef0</string>
	</dict>
	<key>Production-Beta</key>
	<dict>
		<key>name</key>
		<string>Production</string>
		<key>APIEndpointURL</key>
		<string>https://staging.api.browzzin.com/v1</string>
		<key>AdobeSDKAPIKey</key>
		<string>29cb3a6c059746dea4523637e485dfca</string>
		<key>AdobeSDKClientSecret</key>
		<string>1c0f4940-e1bc-42cb-8883-f19865be44f0</string>
		<key>InstagramAPIKey</key>
		<string>be42805f0b644f9cad3f01b78999ba6d</string>
		<key>InstagramClientSecret</key>
		<string>654b9ab7f5b44f8ea8b1420e73d26713</string>
		<key>InstagramRedirectURI</key>
		<string>http://www.browzzin.com/</string>
		<key>AmazonSNSARN</key>
		<string>arn:aws:sns:eu-west-1:845514898856:app/APNS_SANDBOX/BrowzzinConsumerIosDev</string>
		<key>AmazonCognitoIdentity</key>
		<string>eu-west-1:7a01b24e-3a9b-4197-9899-aea4e2404ef0</string>
	</dict>
	<key>Production</key>
	<dict>
		<key>name</key>
		<string>Production</string>
		<key>APIEndpointURL</key>
		<string>https://api.browzzin.com/v1</string>
		<key>AdobeSDKAPIKey</key>
		<string>29cb3a6c059746dea4523637e485dfca</string>
		<key>AdobeSDKClientSecret</key>
		<string>1c0f4940-e1bc-42cb-8883-f19865be44f0</string>
		<key>InstagramAPIKey</key>
		<string>be42805f0b644f9cad3f01b78999ba6d</string>
		<key>InstagramClientSecret</key>
		<string>654b9ab7f5b44f8ea8b1420e73d26713</string>
		<key>InstagramRedirectURI</key>
		<string>http://www.browzzin.com/</string>
		<key>AmazonSNSARN</key>
		<string>arn:aws:sns:eu-west-1:845514898856:app/APNS/BrowzzinConsumerIosProd</string>
		<key>AmazonCognitoIdentity</key>
		<string>eu-west-1:7a01b24e-3a9b-4197-9899-aea4e2404ef0</string>
	</dict>
	<key>Testing</key>
	<dict>
		<key>name</key>
		<string>Testing</string>
		<key>APIEndpointURL</key>
		<string>https://staging.api.browzzin.com/v1</string>
		<key>AdobeSDKAPIKey</key>
		<string>29cb3a6c059746dea4523637e485dfca</string>
		<key>AdobeSDKClientSecret</key>
		<string>1c0f4940-e1bc-42cb-8883-f19865be44f0</string>
		<key>InstagramAPIKey</key>
		<string>be42805f0b644f9cad3f01b78999ba6d</string>
		<key>InstagramClientSecret</key>
		<string>654b9ab7f5b44f8ea8b1420e73d26713</string>
		<key>InstagramRedirectURI</key>
		<string>http://www.browzzin.com/</string>
		<key>AmazonSNSARN</key>
		<string>arn:aws:sns:eu-west-1:845514898856:app/APNS/BrowzzinConsumerBeta</string>
		<key>AmazonCognitoIdentity</key>
		<string>eu-west-1:7a01b24e-3a9b-4197-9899-aea4e2404ef0</string>
	</dict>
	<key>Debug</key>
	<dict>
		<key>name</key>
		<string>Debug</string>
		<key>APIEndpointURL</key>
		<string>https://staging.api.browzzin.com/v1</string>
		<key>AdobeSDKAPIKey</key>
		<string>29cb3a6c059746dea4523637e485dfca</string>
		<key>AdobeSDKClientSecret</key>
		<string>1c0f4940-e1bc-42cb-8883-f19865be44f0</string>
		<key>InstagramAPIKey</key>
		<string>be42805f0b644f9cad3f01b78999ba6d</string>
		<key>InstagramClientSecret</key>
		<string>654b9ab7f5b44f8ea8b1420e73d26713</string>
		<key>InstagramRedirectURI</key>
		<string>http://www.browzzin.com/</string>
		<key>AmazonSNSARN</key>
		<string>arn:aws:sns:eu-west-1:845514898856:app/APNS_SANDBOX/BrowzzinConsumerIosDev</string>
		<key>AmazonCognitoIdentity</key>
		<string>eu-west-1:7a01b24e-3a9b-4197-9899-aea4e2404ef0</string>
	</dict>
</dict>
</plist>
